:root{
    --color_principal: rgb(158, 150, 238);
    --color_secundario: #03b7ff;
    --azul: #1fb1b6;
    --primario_darkmode: #8b637e;
    --secundario_darkmode:#28232b;
    --morado:#c300ff;
}
*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#fbfbfb, #00d4ff);
    transition: all 0.9s;
    
}
header{
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 5px  var(--color_principal);
}

.header__logo{
    height: 120px;
}
.navegacion{
    position: fixed;
    background: linear-gradient(#adccee, var(--azul));
    height: auto;
    width: 100%;
    z-index: 3;
    display: none;
    transition: .4s;
}
.darkmode .navegacion{
    background: linear-gradient(var(--primario_darkmode), var(--morado));
    transition: .4s;
}
.navegacion__lista{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navegacion__li{
    padding: 1.5rem;
}
.navegacion__lista-a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: all 5s ease;
}

@media (min-width: 700px) {
    .navegacion{
        position: absolute;
    }
}

@media (min-width: 1000px) {
    .container__logo{
        position: relative;
        left: -35%;
        z-index: 4;
    }
    .container__logo:hover{
        cursor: pointer;
    }
    .navegacion{
        display: flex;
        justify-content: end;
        align-items: center;
        background: transparent;
        height: 120px;
    }
    .darkmode .navegacion{
        background: transparent;
    }
    .navegacion__lista-a:hover{
        font-size: 1.5rem;
        text-decoration: underline;
    }
    .navegacion__lista{
        display: flex;
        flex-direction: row;
        justify-content: end;
        background: transparent;
    }

    .navegacion__lista-a{
        transition: all .3s ease;
    }
    .contenedor__boton{
        display: none;
        cursor: pointer;
    }
}

/*Boton*/
.contenedor__boton:active{
    background: var(--color_principal);
    box-shadow: 0 1px 32px var(--color_secundario);
}
.contenedor__boton{
    border: 1px solid black;
    border-radius: 50%;
    background: transparent;
    box-shadow: 0 1px 32px;
    width: 60px;
    height: 60px;
    box-sizing: content-box;
    position: fixed;
    right: 1vh;
    bottom: 1vh;
    z-index: 4;
}
.darkmode .contenedor__boton{
    border: 1px solid var(--morado);
    transition: .4s;
}
#btn-menu{
    display: none;
}
.lbl-menu{
    position: relative;
    top: 17px;
    left: 7px;
    width: 50px;
    height: 30px;
    cursor: pointer;
}
.lbl-menu .boton__linea1, .boton__linea2, .boton__linea3{
    position: absolute;
    content: "";
    background:black;
    width: 47px;
    height: 5px;
    border-radius: 5px;
    transition: all .5s ease;
}
.darkmode .lbl-menu .boton__linea1, .boton__linea2, .boton__linea3{
    background: #1b1022;
    transition: .4s;
}
.boton__linea2{
    top: 11px;
}
.boton__linea3{
    top: 22px;
}
.boton:checked ~ .lbl-menu .boton__linea1{
    transform: rotate(140deg);
    top:10px;
}
.boton:checked ~ .lbl-menu .boton__linea2{
    opacity: 0;
}
.boton:checked ~ .lbl-menu .boton__linea3{
    transform: rotate(-140deg);
    top:10px;
}
.boton:checked + label .navegacion__lista{
    display: block;
}
@media (min-width: 700px) {
    .contenedor__boton{
        position: relative;
        left: 35%;
        bottom: -1.5rem;
    }    
}
/*Boton Darkmode*/
.boton__darkmode{
    position: absolute;
    top: 35px;
    left: 20px;
}

.boton__darkmode button{
    position: absolute;
     top: -20px;
     left: 90%;
     transform: translate(-50%, -50%);
     height: 70px;
     width: 70px;
     box-shadow: 5px 5px 22px 0px var(--primario_darkmode) ;
     border-radius: 50%;
     background: rgb(238,174,202);
     background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(32,13,31,1) 100%);
}
#dmode:active{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(32,13,31,1) 100%);
}
@media (min-width: 1000px) {
    #dmde{
        cursor: pointer;
        content: "";
        z-index: 5;
    }
    .boton__darkmode{
        z-index: 4;
        cursor: pointer;
    }
}

/*Hero*/
.hero{
    box-sizing: content-box;
}
.hero__side{
    display: flex;
}
.hero__contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}
.hero__saludo{
    font-size: 2.9rem;
    font-weight: bolder;
    text-align: center;
    text-shadow: 10px 10px 30px #ffffff;
    transition: all 0.9s;
}
.darkmode .hero__saludo{
    text-shadow: 10px 10px 30px violet;
    transition: all 0.9s;
}
.hero__desc{
    font-size: 1.7rem;
    padding: 1rem;
    font-family: cursive;
    text-shadow: 1px 1px 10px #ffffff;
    text-align: center;
}
.darkmode .hero__desc{
    text-shadow: 1px 1px 10px violet;
}
.hero__foto{
    margin-top: 2rem;
    height: 200px;
    border-radius: 50% 20% 50%;
    filter: drop-shadow(2px -5px 16px var(--color_secundario));
}
.darkmode .hero__foto{
    filter: drop-shadow(2px -5px 16px var(--morado));
}
@media (min-width: 700px ) {
    .hero__saludo{
        font-size: 6rem;
    }
    .hero__desc{
        font-size: 3rem;
    }
    .hero__foto{
    position: relative;
    left: -30%;
    margin-top: 3rem;
    }
    .social{
    position: relative;
    left: -30%;
    }
    .hero__desc{
    text-align: center;
    }
}

/*Redes sociales*/

.social{
    display: flex;
    height: 100px;
}
.social__ig{
    height: 60px;
    position: relative;
    top: -210px;
    left: 80px;
}
.social__alura{
    height: 90px;
    position: relative;
    top: -60px;
    left: -65px;
}
.social__git{
    height: 60px;
    position: relative;
    top: -225px;
    left: 10px;
}
.social__link{
    height: 60px;
    position: relative;
    top: -50px;
    left: -70px;
}

/*Sobre mi*/
.sobre{
    position: relative;
    top: -90px;
    box-shadow: 2px 2px 10px;
    width: 85%;
    margin: 0 auto;
    max-width: 1070px;
}
.sobre__titulo{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bolder;
    font-style: oblique;
    text-shadow: 2px 2px 2px var(--color_secundario);
}
.darkmode .sobre__titulo{
    text-shadow: 2px 2px 2px var(--morado);
}
.sobre__desc{
    line-height: 25px;
    padding: 0 1.7rem 1.7rem 1.7rem;
}
@media (min-width: 700px) {
    .sobre{
        width: 55%;
        top: -330px;
        left: 19%;
    }
    .sobre__titulo{
        font-size: 2.5rem;
    }
    .sobre__desc{
        font-size: 1rem;
        line-height: 25px;
    }
}
@media (min-width: 1000px) {
    .sobre{
        margin-left: 15rem;
    }
}
/*Skills*/
.skills{
    position: relative;
    top: -4.5rem;
    border: 2px solid var(--azul);
    background: rgb(251,251,251);
    width: 95%;
    margin: 0 auto;
    box-shadow: 1px 1px 40px #fbfbfb;
    background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(0,212,255,1) 100%);
    max-width: 1400px;
    margin: 0 auto;
}
.darkmode .skills{
    border: 1px solid #8b637e;
    box-shadow: 1px 1px 40px #8b637e;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(32,13,31,1) 100%);
}
.skills__titulo{
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    padding: 1rem;
    text-shadow: 1px 1px 10px #ffffff;
}
.darkmode .skills__titulo{
    text-shadow: 1px 1px 10px violet;
}
.skills__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
}
.skills__campo:nth-child(3){
    grid-column: 1/3;
}
.skills__campo{
    padding: 1rem;
}
.skills__img{
    height: 130px;
}
.skills__desc{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}
.darkmode .skills__desc{
    color: #1b1022;
}
@media (min-width: 700px) {
    .skills{
        top: -15rem;
    }
    .skills__titulo{
        font-size: 3rem;
    }
    .skills__container{
        display: flex;
        justify-content: space-evenly;
    }
    .skills__img{
        height: 180px;
    }
    .skills__desc{
        font-size: 2rem;
    }
}

/*Hobbies*/
.hobbies{
    position: relative;
    top: -4rem;
}
.hobbies__titulo{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    padding: 1.5rem;
    text-shadow: 1px 1px 10px #ffffff;
}
.darkmode .hobbies__titulo{
    text-shadow: 1px 1px 10px violet;
}
.hobbies__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 12px; 
    max-width: 1400px;
    margin: 0 auto;
}
.hobbies__campo{
    border: 1px solid var(--color_principal);
    border-radius: 15px;
    width: 160px;
    padding: 10px 30px;
    box-shadow: 1px 1px 10px var(--color_secundario);
}
.darkmode .hobbies__campo{
    border: 1px solid violet;
    box-shadow: 1px 1px 10px var(--primario_darkmode);
}
.hobbies__img{
    width: 90px;
}

.hobbies__img-li{
    display: flex;
    justify-content: center;
}
.hobbies_desc{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    margin-top: 5px;
}
.darkmode .hobbies_desc{
    color: black;
}
@media (min-width: 700px) {
    .hobbies{
        top: -14rem;
    }
    .hobbies__titulo{
        font-size: 3rem;
    }
    .hobbies__container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .hobbies__campo{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid var(--color_principal);
    }

    .hobbies_desc{
        font-size: 25px;
    }
    
}
/*Formacion*/
.formacion{
    position: relative;
    top: -2rem;
}
.formacion__titulo{
    text-align: center;
    padding: 1rem 1rem 2rem 1rem;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 1px 1px 10px #ffffff;
}
.darkmode .formacion__titulo{
    text-shadow: 1px 1px 10px violet;
}
.formacion__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
}
.container__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210px;
    justify-content: center;
}
.formacion__campo{
    width: 90%;
    padding: 1rem;
    margin-bottom: 15px;
    border: 10px solid var(--azul);
    box-shadow: 0 1px 32px var(--color_secundario);
}
.darkmode .formacion__campo{
    border: 10px solid var(--primario_darkmode);
    box-shadow: 1px 1px 10px violet;
}
.formacion__logo{
    margin-left: 29%;
    padding:auto;
    width: 45%;
    padding-bottom: 1rem;
}
.formacion__logo:nth-child(2){
    height: 400px;
}
.formacion__especialidad{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}
.formacion__fecha{
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    padding-top: 10px;
}

@media (min-width: 700px) {
    .formacion{
        top: -11rem;
    }
    .formacion__titulo{
        font-size: 3rem;
    }
    .formacion__especialidad{
        font-size: 2rem;
    }
    .formacion__fecha{
        font-size: 25px;
    }
}

/*Proyectos*/
.proyectos{
    position: relative;
    top:-2rem;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.proyectos__titulo{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 1px 1px 10px #ffffff;
}
.darkmode .proyectos__titulo{
    text-shadow: 1px 1px 10px violet;
}
.slider-frame{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.slider-frame ul{
    display: flex;
    padding: 1rem;
    width: 200%;
    overflow: hidden;

    animation: slide 10s infinite  ease-in-out;
}
.slider-frame li{
    list-style: none;
    width: 100%;
}
.slider-frame img{
    width: 90%;
    margin-left: 5%;
    box-shadow: 0px 1px 32px var(--azul);
    border-radius: 10px;
}
.darkmode .slider-frame img{
    box-shadow: 1px 1px 10px violet;
}
@keyframes slide {
    0%{margin-left: 0%;}
    45%{margin-left: 0%;}

    50%{margin-left: -100%;}
    95%{margin-left: -100%;}
}

.proyectos__desc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proyectos__desc--1{
    font-size: 1.5rem;
    color: #ffffff;
}
.darkmode .proyectos__desc--1{
    color: #13021d;
}
.proyectos__desc--2{
    font-size: 1.1rem;
    color: #ffffff;
    padding: .5rem;
}
.darkmode .proyectos__desc--2{
    color: #13021d;
}
.proyectos__botones{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 10px;
}
.proyectos__boton:active{
    background-color: var(--azul);
    transform: scale(1.1);
}
.proyectos__boton{
width: 40%;
height: 40px;
border-radius: 15px;
background:var(--azul);
}
.darkmode .proyectos__boton:active{
    background: #13021d;
}
.darkmode .proyectos__boton{
    background: var(--primario_darkmode);
}
.proyectos__boton a{
    text-decoration: none;
    color: #cad2e4;
    font-weight: 600;
    height: 4rem;
}
.darkmode .proyectos__boton a{
    color: #13021d;
}
@media (min-width: 700px) {
    .proyectos{
        top: -10rem;
    }
    .proyectos__titulo{
        font-size: 3rem;
    }
    .proyectos__desc--1{
        font-size: 2rem;
        margin-top: 10px;
    }
    .proyectos__desc--2{
        font-size: 1.5rem;
    }
    .proyectos__boton{
        height: 90px;
        border-radius: 29px;
        margin-top: 20px;
    }
    .proyectos__boton a{
        font-size: 30px;
    }
}

@media (min-width: 1000px) {
    .proyectos__boton{
        width: 200px;
        transition: transform .3s ease;
    }
    .proyectos__boton:hover{
        transform: scale(1.1);
        background: #28232b;
        cursor: pointer;
    }
    .proyectos__botones{
        margin-bottom: 1rem;
    }
    .proyectos{
        max-width: 1400px;
        margin: 0 auto;
    }
}
/*Footer*/
.footer{
    border-top: 1px solid var(--color_secundario);
    box-shadow: 0 1px 12px var(--azul) ;
}
.darkmode .footer{
    border-top: 1px solid var(--secundario_darkmode);
    box-shadow: 0 1px 12px var(--morado) ;
}
.footer__desc{
    text-align: center;
    color: #ffffff;
    padding: 1rem;
}
.darkmode .footer__desc{
    color: var(--primario_darkmode);
}
@media (min-width: 700px) {
    .footer__desc{
        font-size: 18px;
    }
}


body.darkmode{
    background: linear-gradient(var(--primario_darkmode), var(--secundario_darkmode));
    transition: 2s;
}
.darkmode .boton__darkmode button:active{
    text-shadow: 1px 1px 10px var(--color_principal);
}
.darkmode .boton__darkmode button{
    border: none;
    background: transparent;
    font-size: 60px;
    box-shadow: 5px 5px 22px 0px white;
    background: rgba(251,251,251,1) ;
    background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(0,212,255,1) 100%);;
}


/*Page Contacto*/
.navegacion__lista-contacto:hover{
    font-size: 1.7rem;
    text-decoration: underline;
}
.navegacion__lista-contacto{
    position: relative;
    left: -20px;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
}
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    }
    .formulario fieldset{
        border: none;
    }
    .formulario legend{
        text-align: center;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 2rem;
        color: var(--primario);
    }
    @media (min-width: 768px) {
        .contenedor-campos{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
            grid-template-rows: auto auto 23rem;
        }
        .campo:nth-child(3){
            grid-column: 1/3;
        }
        .campo:nth-child(4){
            grid-column: 1/3;
        }
    }
    
    .campo{
        margin-bottom: 1rem;
    }
    .campo label{
        color: var(--blanco);
        font-weight: bold;
        margin-bottom: 1.5rem;
        display: block;
    }
    .input-text{
        width: 100%;
        border: none;
        padding: 1.5rem;
        border-radius: .5rem;
    }
    .enviar .boton{
        width: 100%;
    }
    .campo textarea{
        height: 20rem;
    }
    .boton__enviar{
        width: 100%;
        height: 50px;
        border-radius: 20px;
        font-weight: 600;
        margin-top: 10px;
        background: rgb(251,251,251);
        background: radial-gradient(circle, rgba(251,251,251,1) 0%, rgba(0,212,255,1) 100%);
        box-shadow: 1px 1px 42px white;
    }
    .boton__enviar:active{
        transform: scale(1.1);
    }
    .darkmode .boton__enviar{
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(32,13,31,1) 100%);
    }

    @media (min-width: 700px) {
          .boton__enviar{
            width: 80%;
            margin-left: 10%;
          }    
    }
    @media (min-width: 1100px) {
        .alinear-derecha{
            display: flex;
            justify-content: end;
        }
        .boton__enviar:hover{
            transform: scale(1.1);
        }
        .boton__enviar{
            width: 30%;
        }
        .navegacion__lista-contacto{
            position: relative;
            left: -20px;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: 500;
            color: black;
        }
    }
    
